::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: -1;
}

.parallax-section {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  font-size: 4vw;
  text-align: center;
  margin: 2vw 0;
  letter-spacing: 2px;
  margin-top: 5%;
}

.founders-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 5%;
  gap: 2vw; /* Added gap */
}

.founder {
  width: 20vw; /* Updated width */
  text-align: center;
}

/* For smaller screens, show the founders in a single column */
@media (max-width: 767px) {
  .founder {
    flex: 0 1 100%;
    margin: 1rem auto;
  }
}


.founder h2 {
  margin-top: 1vw;
}

.founder img {
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  border: 2px;
}

.founder-info {
  display: none;
}

.founder.clicked .founder-info {
  display: block;
}

.founder:hover img {
  border: 2px solid #ffc400;
  cursor: pointer;
}

.founder:hover h2,
.founder:hover h3 {
  color: #ffc400;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: 300;
}

main {
  padding-top: 10vw;
}

.about-wrapper {
  width: 98%;
  min-height: 70vh;
  margin: 2.5vh auto;
  position: relative;
  background-color: #000000;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-image: url('company-info-bg.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cf-wrapper {
  justify-content: center;
  align-items: center;
  width: 98%;
  min-height: 70vh;
  margin: 2.5vh auto;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-image: url('co-founders-bg.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: 100;
}

#about-us {
  position: relative;
  height: calc(100% - 8vw);
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 2vw;
}

.about-us-text {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: 200;
  font-size: 20vw;
  color: #fff;
}

.about-main-header {
  position: relative;
  top: calc(100% - 6vw);
  z-index: 100;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.company-info {
  padding: 1.8vw;
  max-width: 95%;
  margin: 0 auto;
  text-align: justify;
}

.company-info p {
  margin-bottom: 1.5vw;
  font-size: 1.6vw;
}

  

  @media (max-width: 1024px) {
    .founders-grid {
      flex-wrap: wrap;
    }
    
    .founder {
      width: 45%;
      margin: 1rem;
    }
  }
  
  /* Modify the layout for mobile devices */
  @media (max-width: 767px) {
    .title {
      font-size: 4vw;
    }
  
    .about-us-text {
      font-size: 25vw;
    }
  
    .company-info p {
      font-size: 3vw;
    }
  
    .founder img {
      width: 20vw;
      height: 20vw;
    }
  
    .founder {
      width: 90%;
      margin: 1rem auto;
    }
  }