* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
  font-family: Robo;
  src: url(./fonts/Robo-Bold.ttf);
}

@font-face {
  font-family: Hel;
  src: url(./fonts//Helvetica\ Nue.ttf);
}

html {
    margin: 0;
    padding: 0;
    scrollbar-width: none;
    scroll-behavior: smooth
    /* Hide scrollbar for Firefox */
}

html::-webkit-scrollbar {
    width: 0;
    /* Hide scrollbar for WebKit browsers (Chrome, Safari, etc.) */
}

body {
    margin: -1px 0 0 0;
    padding: 0;
    font-family: "Helvetica Neue", Hel, Robo, sans-serif;
    background: linear-gradient(to bottom, #ffc400 0%, #000000 40%);
    color: #fff;
    overflow-y: scroll;
    -ms-overflow-style: none;
    overflow-x: hidden;
    min-height: 100vh;
}



button:focus,
button:active {
    outline: none;
    border: none;
}



nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    left: 8px;
    max-width: 98%;
}

.logo {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    margin-left : 17px;
}

.logo img {
    height: 30px;
    margin-right: 5px;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    /* Reset margin for the ul */
    padding: 0;
    /* Reset padding for the ul */
}


nav ul li {
    margin-left: 2rem;
}

nav ul li a {
    color: #999;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 300;
    font-family: 'Helvetica Neue', Robo, Helvetica,Hel, Arial, sans-serif;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: color 0.3s;
}

nav ul li a span {
    margin-top: 8px;
    display: inline-block;
}




nav ul li a:hover {
    color: #fff;
}

.nav-links.active {
    display: flex;
    flex-direction: column;
}
  
.cta-nav {
    display: inline-block;
    background-color: rgb(226, 169, 62);
    /* Set background-color with rgba() */
    color: #fff;
    text-decoration: none;
    /* padding: 0.75rem 1.5rem; */
    border-radius: 10px;
    transition: background-color 0.3s, border-color 0.3s;
    /* Add border-color to the transition */
    border: 2px solid rgba(255, 255, 255, 1);
    /* Set border color with rgba() */
}

.cta-nav:hover {
    background-color: rgba(242, 214, 0, 0);
    /* Change background-color with transparency on hover */
    border-color: rgba(242, 214, 0, 0.8);
    /* Change border color with transparency on hover */
}

/* Add the following code */
.wrapper {
    width: 98%;
    height: 98vh;
    margin: 2.5vh auto;
    position: relative;
    background-color: #000000;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Update the existing header and hero styles */
header {
    padding: 2rem 1rem;
    position: absolute;
    width: 100%;
    z-index: 100;
    top: 0;
    left: 0;
}

.hero {
    min-height: calc(100% - 4rem); /* Subtract the height of the header */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 2rem;
    padding-bottom: 2rem;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}

.hero-background {
    margin: -1px 0 0 0;
    background: url('hero-bg.webp') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    will-change: transform;
    border-radius: 20px;
}

.overlay {
    background: url('overlay.webp') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    will-change: transform;
}




.hero-content {
    margin-top: 5rem;
    text-align: center;
    max-width: 700px;
    /* Constrain the width of the hero content */
    margin-left: 2rem;
    /* Add left margin to maintain the position on the left side */
    background: rgba(255, 255, 255, 0.1);
    /* Semi-transparent white background */
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    /* Apply a blur effect */
    border-radius: 20px;
    /* Add rounded corners */
    padding: 4rem;
    /* Add padding */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    z-index: 6;

    /* Add a subtle shadow */

}

.hero-wrapper {
    position: relative;
}

.circle {
    position: absolute;
    background-color: rgba(193, 138, 0, 0.626);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 50%;
    will-change: transform;
}

.circle-1 {
    width: 200px;
    height: 200px;
    top: 200px;
    left: -100px;
}

.circle-2 {
    width: 150px;
    height: 150px;
    top: 0px;
    right: -5px;
}

.circle-3 {
    width: 300px;
    height: 300px;
    bottom: -120px;
    left: 300px;
}


.hero-content:hover {
    transform: scale(1.02);
}



.hero-content h1 {
    font-size: 5rem;
    font-weight: 100;
    /* Set the font weight to UltraLight */
    font-family: "Helvetica Neue", Hel, Robo, sans-serif;
    /* Set the font family to Robo, Helvetica UltraLight */
    letter-spacing: 5px;
    /* Increase character spacing */
    margin-bottom: 2rem;
    word-wrap: break-word;
    /* Break long words to fit within the container */
}


.hero-content p {
    font-size: 1.5rem;
    font-weight: 300;
    /* Set the font weight to light */
    font-family: "Helvetica Neue", Hel, Robo, sans-serif;
    /* Set the font family to Robo, Helvetica Light */
    margin-bottom: 2rem;
}


.cta-button {
    display: inline-block;
    background-color: rgb(226, 169, 62);
    /* Set background-color with rgba() */
    color: #fff;
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    border-radius: 10px;
    transition: background-color 0.3s, border-color 0.3s;
    /* Add border-color to the transition */
    border: 2px solid rgba(255, 255, 255, 1);
    /* Set border color with rgba() */
}

.cta-button:hover {
    background-color: rgba(242, 214, 0, 0);
    /* Change background-color with transparency on hover */
    border-color: rgba(242, 214, 0, 0.8);
    /* Change border color with transparency on hover */
}

.showcase {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    padding: 0 2rem;
}

.showcase-content {
    max-width: 45%;
}

.showcase-content h2 {
    font-size: 2.5rem;
    font-weight: 300;
    font-family: "Helvetica Neue", Hel, Robo, sans-serif;
    margin-bottom: 1rem;
}

.showcase-content p {
    font-size: 1.2rem;
    font-weight: 300;
    font-family: "Helvetica Neue", Hel, Robo, sans-serif;
    line-height: 1.6;
}

.showcase-image {
    position: relative;
    width: 50%;
}

.showcase-image img {
    position: absolute;
    right: -3vh;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    max-height: 70vh;
    width: auto;
}

.industries {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 0 5%;
    /* Semi-transparent white background */
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
}

.ind-wrapper {
    background-color: #00000000;
}

.industries-content {
    max-width: 50vw;
    text-align: center;
}

.industries-content h2 {
    font-size: 2.5rem;
    font-weight: 300;
    font-family: "Helvetica Neue", Hel, Robo, sans-serif;
    margin-bottom: 1rem;
}

.industries-content p {
    font-size: 1.2rem;
    font-weight: 300;
    font-family: "Helvetica Neue", Hel, Robo, sans-serif;
    line-height: 1.6;
}
.industries-carousel {
    width: 50%;
  }
  
  .swiper {
    width: 70vh;
    height: 80vh;
  }
  
  .swiper-slide {
    height: 70vh !important;
    width: 70vh !important;
    border-radius: 15px !important;
    

  }
  
  /* .carousel-text-glass {
    background: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    padding: 1rem;
    backdrop-filter: blur(5px);
    box-shadow: 0  3px 3px rgba(0, 0, 0, 0.6);
    width: 50%;
    text-align: center;
     
  } */

.swiper-pagination {
    bottom: 3rem !important;
  }
/* Change the default bullet style */
.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #44444452 !important;
    opacity: 0.8 !important;
}

/* Change the active bullet style */
.swiper-pagination-bullet-active {
    background-color: #fd992776 !important;
    opacity: 1 !important;
}


  
  .industry-card {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 100%;
    border-radius: 15px;
    
  }
  
  .industry-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 15px;
  }
  
  .carousel-text-glass h3 {
    font-size: 2rem;
    font-weight: 300;
    font-family: "Helvetica Neue", Hel, Robo, sans-serif;
    margin-bottom: 3rem;
    letter-spacing: 1px;
}

.carousel-text-glass p {
    font-size: 1.2rem;
    font-weight: 300;
    font-family: "Helvetica Neue", Hel, Robo, sans-serif;
    line-height: 1.6;
    text-align: center;
    max-width: 80%;
    margin-left: 2rem;
   

}

.industry-overlay h3 {
    font-size: 2rem;
    font-weight: 300;
    font-family: "Helvetica Neue", Hel, Robo, sans-serif;
    margin-bottom: 3rem;
    letter-spacing: 1px;
}

.industry-overlay p {
    font-size: 1.2rem;
    font-weight: 300;
    font-family: "Helvetica Neue", Hel, Robo, sans-serif;
    line-height: 1.6;
    text-align: center;
    max-width: 80%;
    margin-left: 2rem;
   

}

.features {
    background-color: black;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .features-container {
    display: flex;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    align-items: center;
  }
  
  .left-column {
    flex: 1;
    color: white;
  }
  
  .left-column h2 {
    font-size: 2.5rem;
    font-weight: 300;
    font-family: "Helvetica Neue", Hel, Robo, sans-serif;
    margin-bottom: 1rem;
  }
  
  .left-column p {
    font-size: 1.2rem;
    font-weight: 300;
    font-family: "Helvetica Neue", Hel, Robo, sans-serif;
    line-height: 1.6;
  }
  
  .right-column {
    flex: 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    margin-left: 2rem;
  }
  
  .feature-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    background-color: black;
    border: 2px solid white;
    color: white;
    cursor: pointer;
    border-radius: 20px;
    min-height: 200px;
    min-width: 200px;
    position: relative; /* Add this line */
    transition: all 0.3s ease; /* Add transition */
  }
  
  .feature-card:hover {
    z-index: 100; /* Add this line to scale the card */
    transform: scale(1.4);
    background-color: rgb(226, 169, 62);
  }
  
  .feature-card img {
    width: 64px;
    height: 64px;
  }
  
  .feature-card h3 {
    font-size: 1.2rem;
    font-weight: 300;
    font-family: "Helvetica Neue", Hel, Robo, sans-serif;
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .read-more {
    display: none;
    background-color: transparent;
    border: 2px solid white;
    color: #fff;
    padding: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 300;
    font-family: "Helvetica Neue", Hel, Robo, sans-serif;
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 10px;
    justify-content: center;
    align-items: center;
  }

  .read-more::before {
    content: '';
    display: block;
    width: 100%; /* Increase the width */
    height: 100%; /* Increase the height */
    background-image: url('arrow.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.3s ease;
    margin-left: 1px;
  }
  
  
  .read-more:hover::before {
    transform: rotate(90deg);
    margin-top: 1px;
    margin-left: 0px;
  }
  
  .arrow-icon {
    width: 2px;
    height: 2px;
    object-fit: contain;
    transition: transform 0.3s ease;
    align-self: center;
  }
  
  
  
  .feature-card:hover .read-more {
    display: flex; /* Show the Read More button on hover */
  }
  
  
  
  .read-more:hover .arrow-icon {
   transform: rotate(90deg);
  }
  
  .feature-card:hover .read-more {
    display: block; /* Show the Read More button on hover */
    position: absolute;
    bottom: 10px;
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .close {
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer;
  }
  
  .modal-content {
    margin: 10% auto;
    padding: 2rem;
    width: 80%;
    background-color: #000;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 20px;
  }
  

.form{
  min-height: 100vh;
  min-width: 100vw;
  height: 100%; 
}

  
  
  @media screen and (max-width: 768px) {
    .features-container {
      flex-direction: column;
    }
  
    .left-column {
      margin-bottom: 2rem;
    }
  
    .right-column {
      margin-left: 0;
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  

  @media screen and (max-width: 480px) {
    .right-column {
      grid-template-columns: 1fr;
    }
  }
  




@media screen and (max-width: 1200px) {
    .hero-content {
        max-width: 80%;
        /* Increase the width for smaller screens */
    }
}

@media screen and (max-width: 768px) {
    .hero {
      text-align: centre;
    }
    .hero-content {
        max-width: 90%;
        /* Increase the width for mobile devices */
    }

    .hero-content h1 {
        font-size: 1.5rem;
        /* Decrease the font size for mobile devices */
    }

    .hero-content p {
        font-size: 1rem;
        /* Decrease the font size for mobile devices */
    }

    .cta-button {
        padding: 0.5rem 1rem;
        /* Decrease the padding for mobile devices */
    }
}




@media screen and (max-width: 768px) {
  .showcase {
      padding-top: 14rem;
      flex-direction: column;
  }
  
  .showcase-content h2 {
    text-align: center;
    font-size:  2rem;  
    font-weight: bold;
  }

  .showcase-content p {
    text-align: center;
    font-size: 1rem;
    display: none;
  }

  .showcase-image {
      width: 19.5rem;
      position: relative;
  }
}

@media screen and (min-width: 768px)and (max-width: 1200px) {
  
  .showcase-content h2 {
    text-align: left;
    font-size: 1.5rem;
  }
  .showcase-content p {
    display: none;
  }
}
    


@media screen and (max-width: 768px) {
  .ind-wrapper {
    flex-direction: column;
  }
  .industry-card {
    width: 20.5rem;
  }
  .industry-overlay {
    text-align: center;
  }
  .industries-content {
    text-align: center;
    padding-top: 60rem;
    display: none;
  }
}

@media screen and (min-width: 768px) and ( max-width: 1514px) {
  .ind-wrapper {
    flex-direction: column;
  }
  .industries-content {
    display: none;
  }
}


@media screen and (max-width: 768px) {
    .nav-links {
      display: none;
      /* Hide the navigation menu on mobile devices */
    }
  
    .menu-toggle {
      display: flex;
      /* Show the menu toggle on mobile devices */
    }
  }

@media screen and (max-width: 768px) {
  
}

.tf-v1-widget-fullscreen {
  position: relative!important;
}
  
 .menu-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 15px;
    cursor: pointer;
  }
  
  .menu-toggle span {
    background-color: #fff;
    height: 3px;
    width: 100%;
  }

  footer {
    background: linear-gradient(to bottom, #000 20%, #ffc400dd 210%);
    color: #fff;
    font-family: "Helvetica Neue", Hel, Robo, sans-serif;
    font-weight: 300;
    bottom: 0;
    width: 100%;
    z-index: 3;
  }
  

  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    padding: 1rem;
    font-size: 14px;
}


.footer-logo {
    max-height: 40px;
    width: auto;
}

.footer-section {
    flex: 1;
    text-align: center;
}

.footer-section p{
  letter-spacing: 1px;
}

.footer-section a {
  color: #fff;
  text-decoration: none;
}

.footer-section a:hover {
  color: #ffffff99;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    display: inline-block;
    margin: 0 0.5rem;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
}

.footer-links a:hover {
    color: #ffffff99;
}

.footer-bottom {
    padding: 0.5rem 0;
    text-align: center;
}

@media (max-width: 768px) {
  .footer-section {
      flex: 1 1 50%;
      padding: 1rem;
  }

  .footer-logo {
      max-height: 30px;
  }

  .footer-links li {
      margin: 0 0.25rem;
  }

  .footer-links a {
      font-size: 12px;
  }

  .footer-bottom p {
      font-size: 12px;
  }
}

@media (max-width: 480px) {
  .footer-section {
      flex: 1 1 100%;
      padding: 0.5rem;
  }

  .footer-logo {
      max-height: 25px;
  }

  .footer-links li {
      margin: 0 0.1rem;
  }

  .footer-links a {
      font-size: 10px;
  }

  .footer-bottom p {
      font-size: 10px;
  }
}
